pkgbase = email-bulk-sender
	pkgdesc = Sends emails in bulk.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/email-bulk-sender
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = gawk
	depends = libcrash-bash
	depends = msmtp
	source = email-bulk-sender-51e1e22e5e7eb1e360db021d3d28fb08fa655c42.zip::https://github.com/themartiancompany/email-bulk-sender/archive/51e1e22e5e7eb1e360db021d3d28fb08fa655c42.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = 61d0a0b21bb8e984ea36ce9c0688ab059f3ccddbb1527fbe6c7b898ab75652f9

pkgname = email-bulk-sender
